.lang-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to top, #ffffff 70%, #86d9f2);
  font-family: 'Vazir', Tahoma, sans-serif;
  text-align: right;
  direction: rtl;
}

@media (max-width: 400px) {
  .lang-page-container {
    max-height: 95vh;
    min-height: 95vh;
  }
}



.lang-logo {
  width: 200px; /* Larger logo size */
  height: auto;
  margin-bottom: 20px;
  margin-top: 100px;
}

.lang-welcome-text h1 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.lang-welcome-text p {
  color: #555;
  font-size: 0.9rem;
  line-height: 1.8;
  margin-bottom: 30px;
  font-family: 'Vazir', Tahoma, sans-serif;
}

.lang-options-list {
  width: 100%;
  max-width: 300px;
}

.lang-option {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 40px; /* Added left padding for circle space */
  margin: 8px 0;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: all 0.2s;
  position: relative;
}

.selection-circle {
  position: absolute;
  left: 15px;
  width: 18px;
  height: 18px;
  border: 2px solid #999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  width: 10px;
  height: 10px;
  background-color: #3498db;
  border-radius: 50%;
}

.lang-option.selected .selection-circle {
  border-color: #3498db;
}

.lang-name {
  text-align: right;
  width: 100%;
  padding-right: 10px;
}

.lang-login-btn {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  margin-top: 40px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Vazir', Tahoma, sans-serif;
}

@media (max-width: 400px) {
  .lang-login-btn {
    margin-top: 10px;
  }
}


.lang-login-btn.disabled {
  background-color: #bdc3c7;
}

.lang-text-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 45%;
}

.lang-name {
  text-align: right;
  font-size: 1rem;
}

.lang-code {
  color: #555;
  font-size: 0.8rem;
  margin-left: 10px;
  margin-top: 2px;
  
}